@import 'styles/variables.module.scss';

.weight {
  display: flex;
  width: 300px;
  justify-content: space-between;
  align-items: center;
  margin: 24px 0px;

  &__input {
    min-width: 150px;
  }
}
